@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arapey:400,400i&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

.card {
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px lightsalmon;
    background-color: white;
    margin: 5px;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 20% 20% auto;
    grid-template-areas:
        "title title title"
        "photo photo emojis"
        "photo photo emojis"
        "..... quote quote";
    gap: 2px 2px;
}

.card > .title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-top: 1rem;
    grid-area: title;
}

.photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    grid-area: photo;
}

.photo-container img {
    display: block;
    height: auto;
    max-width: 100%;
}

.emojis {
    grid-area: emojis;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.emojis .emoji {
    font-size: 2em;
}

.card blockquote {
    grid-area: quote;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    align-self: center;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 1rem;
    position: relative;
}

header {
    grid-area: header;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom-left-radius: 20px;
    display: grid;
    grid-template-columns: 140px auto 40%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "info name buttons"
        "info .... .......";
    
}

.logo-container {
    grid-area: info;
    display: flex;
    justify-content: center;
}
.logo-container>img {
    float: left;
    border-radius: 100%;
}
.fondo {
    grid-column: 1 / span 3;
    grid-row: 1;
    border-bottom-left-radius: 30px;
}


.brand-name{
    grid-area: name;
    align-self: center;
    margin-left: 10px;
}

.botones-header {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
    grid-area: buttons;
}
.botones-header:last-child{
    margin-right: 10px;
}
.button-header{
    text-align: center;
    margin-left: 10px;
}
.button-header:hover{
    transition: color .2s ease-out;
    color: rgba(221, 75, 3, 1);
    
}
.button-header>a, .button-header>a:active, .button-header>a:visited, .button-header>a:hover{
    text-decoration: inherit;
    color: inherit;
}
/* .zero-down-arrow:after {
    animation: shine 1.5s infinite linear alternate;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  }
  
  /* Hover state - trigger effect */
  
  /* Active state */
  
  .down-arrow, .down-arrow:visited, .down-arrow:active, .down-arrow:hover {
    text-decoration: inherit;
    color: inherit;
  }

  .page-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  
  @keyframes shine{
    to {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
  } */

footer {
    grid-area: footer;
    background: lightskyblue;
}

.content {
}

.content > div {
    position: relative;
}
.content > div > span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.photo-align-center {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://picsum.photos/1280/720")  no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-areas: "texto";
    height: 100vh;
}
.photo-align-right {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://picsum.photos/1280/720")  no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    flex-direction: row-reverse;
    grid-template-columns: 65% 35%;
    grid-template-areas: "nada texto";

    height: 100vh;
}
.photo-align-left {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://picsum.photos/1280/720")  no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    grid-template-columns: 35% 65%;
    grid-template-areas: "texto nada";

    height: 100vh;
}

.photo-align-right .text, .photo-align-left .text, .photo-align-center .text  {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

.text > .title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-top: 3rem;
    color: white;
    font-weight: bold;
}
.text > .subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    flex-grow: 1;
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 650px){

    header{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "info"
            "buttons";
    }

    .fondo {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .botones-header{
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}

.text > .subtitle.vivienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    flex-grow: 1;
    color: black;
    margin: 45px;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    padding: 0.5rem;
}


@media all and (min-width: 401px) {
    .layout {
        display: grid;
        grid-template-rows: auto auto 70px;
        grid-template-areas: 
            "header"
            "cards"
            "footer";
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 0.3rem, 0.3rem;
        grid-area: cards;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    .card {
        transition: transform .3s ease;
        transition: box-shadow .3s ease;
    }
    .card:hover{
        transform: translateY(-1em);
        box-shadow: 5px 5px 5px sandybrown, 5px -5px 5px sandybrown;
    }

}

@media all and (max-width: 400px) {

    .card {
        justify-content: center;
        grid-template-columns: 0.9fr;
        grid-template-areas:
            "title"
            "emojis"
            "photo"
            "quote";
    }

    .emojis {
        flex-direction: row;
    }

    .card blockquote {
        padding-left: 0.5rem;
        text-align: center;
    }


}